html,body{margin:0; padding:0; font:1em/1 Helvetica,Tahoma,Arial,\5b8b\4f53,sans-serif;}
#wrapper{width:90%; margin:0 auto;}
header{
    text-align:center; display:block; width:100%;
}
#key{
    font-size:2em; padding:3px 5px; border:1px solid #ccc; margin:8px auto;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
}
ul{list-style-type:none; margin:0; padding:0;}
li{
    list-style-type:none;
    margin:8px;
    padding:5px;
    border:1px solid #eee;
    background:#f8f8f8 none;
    float:left;
    width:180px;
    height:99px;
    overflow:hidden;
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    position:relative;
}
li:hover{
    border-color:#666;
    background:#333 none;
    color:#fff;
}
li div.gravatar{background:transparent none; padding:2px;}
li:hover div.gravatar{background:#fff none;}
li i{
    position:absolute;
    right:10px; top:5px; color:#eee;
    font-size:2em;
}
li:hover i{color:#ccc;}
a{color:#333;}
li:hover a{color:#fff;}

#hover-pane{
    position:absolute; top:0; left:0; display:none;
    width:180px;
    height:auto;
    overflow:hidden;
    padding:5px;
    background:#000 none;
    border:1px solid #666;
    color:#fff;
    /*zoom:1.5;*/
    /*-webkit-transform:scale(1.5);*/
    /*-moz-transform:scale(1.5);*/
    /*-o-transform:scale(1.5);*/
    -moz-border-radius:4px; -khtml-border-radius:4px; -webkit-border-radius:4px; border-radius:4px;
    z-index:100;
    -moz-opacity:.85; opacity:.85;/* -ms-filter:"alpha(opacity=85)"; filter:alpha(opacity=85); zoom:1;*/
}
#hover-pane div{padding:3px 0; white-space:nowrap;}
#hover-pane div.gravatar{background:#fff none; padding:2px;}
#hover-pane a{color:#fff;}
#hover-pane i{position:absolute; top:5px; right:10px; color:#ccc; font-size:2em;}

div a{padding-left:20px; background:transparent none no-repeat 0 center; text-decoration:none; color:#999!important; line-height:1.2em;}
div a cite{color:#999!important; font-style:normal;}
div a:hover{color:#fff!important;/* text-decoration:underline;*/}
div a:hover cite{color:#f60!important;}
div.mail a{background-image:url(icons/gmail.gif);}
div.github a{background-image:url(icons/github.png);}
div.twitter a{background-image:url(icons/twitter.png);}
div.flickr a{background-image:url(icons/flickr.png);}
div.delicious a{background-image:url(icons/delicious.png);}
div.douban a{background-image:url(icons/douban.png);}
div.qq{background:transparent url(icons/qq.png) no-repeat 0 center; padding-left:20px!important;}
div.memo{margin-top:10px;border-top:1px solid #666; padding-top:10px; line-height:1.5em;}
